<!DOCTYPE html>
<html>
<head>
    <title>Execute PDF and csv generation</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <p><b>Click the button to generate the pdf file from Tableau or to create the csv file:</b></p>
        <button id="executeButton" class="styled-button">Get pdf</button>
        <button id="csvButton" class="styled-button">Get csv</button>
        <p id="result"></p>
    </div>
    <script>
        document.getElementById("executeButton").addEventListener("click", function() {
            var button = document.getElementById("executeButton");
            // Change button color to loading state
            button.classList.add("loading");
            //button.disabled = true;
            document.getElementById("result").textContent = "Please wait"

            fetch('/execute_function')
                .then(response => {
                    if (response.status === 200) {
                        // Assuming the response is a file download, you can trigger the download
                        response.blob().then(blob => {
                            var url = window.URL.createObjectURL(blob);
                            var a = document.createElement('a');
                            a.href = url;
                            a.download = 'APQR.pdf';
                            a.style.display = 'none';
                            document.body.appendChild(a);
                            a.click();
                            window.URL.revokeObjectURL(url);
                            document.getElementById("result").textContent = "Download complete";
                        });
                    } else {
                        document.getElementById("result").textContent = "Error occurred";
                    }
                    button.classList.remove("loading");
                    // button.disabled = false;
                });
        });

        document.getElementById("csvButton").addEventListener("click", function() {
            var button = document.getElementById("csvButton");
            // Change button color to loading state
            button.classList.add("loading");
            // button.disabled = true;
            document.getElementById("result").textContent = "Please wait";

            fetch('/get_csv')
                .then(response => {
                    if (response.status === 200) {
                        // Assuming the response is a file download, you can trigger the download
                        response.blob().then(blob => {
                            var url = window.URL.createObjectURL(blob);
                            var a = document.createElement('a');
                            a.href = url;
                            a.download = 'APQR.csv';
                            a.style.display = 'none';
                            document.body.appendChild(a);
                            a.click();
                            window.URL.revokeObjectURL(url);
                            document.getElementById("result").textContent = "Download complete";
                        });
                    } else {
                        document.getElementById("result").textContent = "Error occurred";
                    }
                    button.classList.remove("loading");
                    // button.disabled = false;
                });
        });

        
        
    </script>
</body>
</html>
