<!DOCTYPE html>
<html>
<head>
    <title>Execute PDF generation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <p><b>Click the button to generate the PDF from Tableau:</b></p>
        <button id="executeButton" class="styled-button">Execute</button>
        <p id="result"></p>
    </div>
    <script>
        document.getElementById("executeButton").addEventListener("click", function() {
            var button = document.getElementById("executeButton");
            // Change button color to loading state
            button.classList.add("loading");
            //button.disabled = true;

            fetch('/execute_function')
                .then(response => response.text())
                .then(data => {
                    document.getElementById("result").textContent = data;
                    button.classList.remove("loading");
                    //button.disabled = false;
                });
        });
    </script>
</body>
</html>
